@model Post
@inject IOptionsSnapshot<BlogSettings> settings
@{
	ViewData[Constants.Title] = Model.Title;
	ViewData[Constants.Description] = Model.Excerpt;
	bool showFullPost = ViewContext.RouteData.Values.ContainsKey(Constants.slug);
	string host = $"{Context.Request.Scheme}://{Context.Request.Host}";
	bool isCodePreview = Model.Content.Contains("</code>");
}

@section Head {
	<link rel="canonical" href="@(host + Model.GetLink())" />
}

<li class="post-stub" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
	<a href="@Model.GetLink()">
		<h4 class="post-stub-title" itemprop="name headline">@Model.Title</h4> / <time datetime="@Model.PubDate.ToString("s")" itemprop="datePublished">Published @Model.PubDate.ToString("MMM d, yyyy")</time> @*by @settings.Value.Owner*@
	</a>

	@*<img src="/img/banner.jpg" style="width: 100%; margin: 0;" />*@

	<div class="post-description" itemprop="articleBody mainEntityOfPage name" cdnify>
		@if (showFullPost || settings.Value.ListView == PostListView.FullPosts)
		{
			<hr />

			@Html.Raw(Model.RenderContent())

			<hr />
		}
		else if (settings.Value.ListView == PostListView.TitlesAndExcerpts)
		{
			<p class="post-stub-description">@Html.Raw(Model.Excerpt)</p>
		}
	</div>

	<meta itemprop="author" content="@settings.Value.Owner" />
	<meta itemprop="dateModified" content="@Model.LastModified.ToString("s")" />
	<meta itemprop="mainEntityOfPage" content="@(host + Model.GetLink())" />

	@if (User.Identity.IsAuthenticated)
	{
		<a asp-controller="Blog" asp-action="edit" asp-route-id="@Model.ID" title="Edit the post">Edit post</a>
	}

	@if (showFullPost)
	{
		await Html.RenderPartialAsync("_SocialSharing", Model.Title);
		await Html.RenderPartialAsync("Comments");

		@section Preload {
			@if (isCodePreview)
			{
				<link rel="preload" href="~/lib/prism/prism.css" as="style" />
				<script src="~/lib/prism/prism.js" async defer></script>
			}
		}
	}

</li>

@if (User.Identity.IsAuthenticated)
{
	@section Scripts {
		<script src="~/js/admin.js" async defer></script>
		<link rel="stylesheet" href="~/css/admin.css" />
	}
}












